@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Regular.ttf"); }
@font-face {
  font-family: Lato-bold;
  src: url("../fonts/LAto-Bold.ttf"); }
@font-face {
  font-family: VNFQuicksand;
  src: url("../fonts/Quicksand-Regular.ttf"); }
@font-face {
  font-family: VNFQuicksand-Bold;
  src: url("../fonts/Quicksand-Bold.ttf"); }
body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  font-size: 14px; }

.decoration {
  height: 19px; }

.decoration-circle-pink {
  width: 16px;
  height: 16px;
  border: solid 4px #e91e63;
  border-radius: 100px; }

.decoration-circle-green {
  width: 16px;
  height: 16px;
  border: solid 4px #b1d136;
  border-radius: 100px; }

.decoration-circle-yellow {
  width: 16px;
  height: 16px;
  border: solid 4px #ffc107;
  border-radius: 100px; }

a,
a:hover,
a:active,
a:link {
  text-decoration: none; }

.blue {
  background-color: #00bcd4; }

.bluey {
  background-color: #673ab7; }

.pink {
  background-color: #e91e63; }

.yellow {
  background-color: #ffc107; }

.green {
  background-color: #b1d136; }

.red {
  background-color: #f44336; }

.cl-blue {
  color: #00bcd4; }

.cl-bluey {
  color: #673ab7; }

.cl-pink {
  color: #e91e63; }

.register-test {
  width: 193px;
  height: 50px;
  font-family: Lato-bold;
  font-weight: bold;
  border-radius: 100px;
  border: none;
  color: white;
  line-height: 1.14; }

.register-test span:first-child {
  margin-left: 15px; }

.register-test span:nth-child(2) {
  margin-left: -7.9px; }

.pre {
  width: 83px;
  height: 30px;
  border-radius: 100px;
  border: solid 2px #00bcd4;
  background-color: transparent;
  color: #00bcd4;
  text-align: center; }

.next {
  position: absolute;
  top: 48%;
  right: 2%;
  width: 83px;
  height: 30px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  background-color: #e91e63;
  color: white;
  text-align: center;
  border: none;
  text-transform: uppercase; }

* {
  margin: 0;
  padding: 0; }

.row {
  padding: 0;
  margin: 0; }

.container-fluid {
  padding: 0; }

.col-md-6 {
  padding: 0; }

.header {
  position: fixed; }

.nav.navbar-fixed-top {
  padding: 20px 15px; }

.navbar-header img {
  width: calc(200%/3);
  margin-top: -13px; }

.navbar-left {
  margin-left: -20px; }
  .navbar-left li {
    padding-left: 12px; }
    .navbar-left li a {
      color: #673ab7;
      padding-top: 9px; }

.navbar-right li {
  margin-left: 20px; }
  .navbar-right li .login {
    color: #00bcd4;
    text-transform: uppercase; }
  .navbar-right li .login:hover {
    background-color: transparent; }
  .navbar-right li .register {
    padding: 13px;
    background-color: #00bcd4;
    border-radius: 100px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2px;
    font-family: Lato-bold;
    border: none; }
.navbar-right .ti-search {
  margin-top: 12px;
  color: #673ab7;
  font-size: 24px; }

#home {
  height: 1080px; }
  #home .left-page-1 {
    padding-top: 9%; }
    #home .left-page-1 .top-left-page-1 {
      width: 76px;
      border-radius: 25px;
      position: absolute;
      top: 200px;
      right: 5%; }
    #home .left-page-1 .btn-left-page-1 {
      width: 25px;
      border-radius: 25px;
      position: absolute;
      top: 228px;
      right: 5%; }
    #home .left-page-1 .content-page-1 .logo-content-1 {
      width: 100%;
      margin-top: 92px;
      max-height: 60px; }
    #home .left-page-1 .content-page-1 .text-summer-head {
      margin-top: 68px;
      position: relative;
      min-width: 572px;
      max-width: 630px;
      font-family: VNFQuicksand-Bold;
      font-size: 64px;
      line-height: 1.13;
      text-align: left;
      color: #00bcd4; }
      #home .left-page-1 .content-page-1 .text-summer-head .first-page-1 {
        border-radius: 20px;
        width: 88px;
        position: absolute;
        top: 77%;
        right: 23px; }
      #home .left-page-1 .content-page-1 .text-summer-head .second-page-1 {
        border-radius: 20px;
        width: 28px;
        position: absolute;
        top: 89%;
        right: 22%; }
      #home .left-page-1 .content-page-1 .text-summer-head .thirst-page-1 {
        border-radius: 20px;
        width: 75px;
        position: absolute;
        top: 89%;
        right: 8%; }
    #home .left-page-1 .content-page-1 .text-summer-content {
      margin-top: 94px;
      max-width: 487px;
      font-size: 16px;
      line-height: 1.5;
      text-align: justify;
      color: #673ab7; }
    #home .left-page-1 .content-page-1 .list-button {
      height: 50px;
      margin-top: 45px;
      position: relative; }
      #home .left-page-1 .content-page-1 .list-button .see-conti {
        width: 136px;
        height: 50px;
        border-radius: 100px;
        float: left;
        margin-right: 22px;
        background-color: #ffffff;
        border: solid 2px #673ab7;
        color: #673ab7;
        font-family: Lato;
        font-weight: bold; }
      #home .left-page-1 .content-page-1 .list-button .see-conti span {
        height: 100%;
        padding-left: 15px;
        line-height: 1.14;
        text-align: justify;
        color: #673ab7; }
      #home .left-page-1 .content-page-1 .list-button .register-test {
        width: 193px;
        height: 50px;
        font-family: Lato-bold;
        font-weight: bold;
        border-radius: 100px;
        border: none;
        color: white;
        line-height: 1.14; }
  #home .right-page-1 {
    padding: 0; }
    #home .right-page-1 img {
      width: 100%; }
    #home .right-page-1 .pre.slide {
      position: absolute;
      top: 48%;
      left: 2%; }
    #home .right-page-1 .support.yellow {
      position: fixed;
      right: 14px;
      bottom: 70px;
      width: 120px;
      height: 40px;
      border-radius: 100px;
      border: none;
      color: white;
      text-transform: uppercase; }
    #home .right-page-1 .rightpage1.decoration.blue {
      z-index: 1;
      border-radius: 30px;
      width: 60px;
      position: absolute;
      bottom: 6%;
      left: 2%; }
    #home .right-page-1 .rightpage1.decoration-circle-pink {
      z-index: 1;
      position: absolute;
      bottom: 6%;
      left: 10%; }
    #home .right-page-1 .rightpage1.decoration-circle-green {
      z-index: 1;
      position: absolute;
      bottom: 6%;
      left: 13%; }
    #home .right-page-1 .rightpage1.decoration-circle-yellow {
      z-index: 1;
      position: absolute;
      bottom: 6%;
      left: 16%; }

#course {
  height: 100vh;
  text-align: center; }
  #course .page-2 {
    padding: 9% 6%; }
    #course .page-2 p {
      font-size: 16px;
      text-align: justify;
      min-height: 127px;
      line-height: 1.5; }
    #course .page-2 h2 {
      top: 480px;
      padding-bottom: 6px;
      text-align: center;
      font-size: 36px;
      font-family: VNFQuicksand-bold; }
    #course .page-2 button {
      margin-top: 37px; }

#book {
  height: 100vh; }
  #book .content-page-3 {
    margin-top: 300px; }
    #book .content-page-3 p {
      margin-top: 38px;
      font-family: VNFQuicksand-Bold;
      font-size: 24px;
      text-align: justify;
      color: #673ab7; }
      #book .content-page-3 p span {
        width: 31px;
        color: #ffc107;
        padding-right: 41px; }
    #book .content-page-3 .page3 {
      margin-top: 38px; }
  #book .right-page-3 {
    float: left;
    position: relative; }
    #book .right-page-3 img:first-child {
      position: absolute;
      float: left;
      margin-top: 137px;
      width: 403px;
      z-index: 1;
      border-radius: 30px;
      box-shadow: 30px 30px 40px 0 rgba(0, 0, 0, 0.2); }
    #book .right-page-3 img:nth-child(2) {
      width: 775px;
      margin-top: 285px;
      margin-left: 90px;
      z-index: -1;
      border-radius: 30px;
      box-shadow: 30px 30px 40px 0 rgba(0, 0, 0, 0.1); }
    #book .right-page-3 img:nth-child(3) {
      position: absolute;
      top: 690px;
      right: 171px;
      width: 301px;
      float: right;
      z-index: 1;
      border-radius: 30px;
      box-shadow: 30px 30px 40px 0 rgba(0, 0, 0, 0.2); }
    #book .right-page-3 .next-img {
      width: 175px;
      height: 105px;
      border-radius: 100px;
      background-color: #673ab7;
      box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.3);
      border: none;
      z-index: 1;
      position: absolute;
      top: 470px;
      left: 400px; }
      #book .right-page-3 .next-img span {
        font-size: 35px;
        color: white; }

#academy {
  display: flex;
  height: 100vh;
  padding: 0 106px; }
  #academy .row-page-4 {
    float: left;
    width: 20%; }
    #academy .row-page-4 .circle {
      width: 200px;
      height: 200px;
      margin-left: 71px;
      background-color: #d8d8d8;
      border-radius: 100px;
      margin-top: 355px; }
    #academy .row-page-4 .text-circle {
      text-align: center;
      margin-top: 71px;
      font-family: VNFQuicksand-Bold;
      font-size: 24px;
      line-height: 1;
      color: #000000; }

#teacher {
  height: 100vh; }
  #teacher .left-page-5 img {
    width: 100%;
    height: 100vh; }
  #teacher .left-page-5 .pre.teacher {
    position: absolute;
    top: 48%;
    left: 2%; }
  #teacher .midle-page-5 {
    position: relative; }
    #teacher .midle-page-5 .top-right-page-5 {
      width: 38px;
      border-radius: 20px;
      position: absolute;
      top: 275px;
      right: 0; }
    #teacher .midle-page-5 .midle-right-page-5 {
      width: 76px;
      border-radius: 20px;
      position: absolute;
      top: 305px;
      right: 0; }
  #teacher .right-page-5 {
    height: 100%;
    padding-top: 300px;
    padding-left: 40px; }
    #teacher .right-page-5 .content-page-5 {
      line-height: 24px;
      text-align: justify;
      color: #000000;
      word-wrap: break-word; }
      #teacher .right-page-5 .content-page-5 .name-teacher {
        text-align: left;
        font-size: 36px;
        font-family: VNFQuicksand-Bold; }
        #teacher .right-page-5 .content-page-5 .name-teacher span:first-of-type {
          color: #00bcd4; }
        #teacher .right-page-5 .content-page-5 .name-teacher span:nth-of-type(2) {
          color: #673ab7; }
      #teacher .right-page-5 .content-page-5 .information-teacher {
        margin-top: 40px;
        max-width: 610px;
        font-size: 16px; }
      #teacher .right-page-5 .content-page-5 .slide-page-5 {
        margin-top: 10%; }
        #teacher .right-page-5 .content-page-5 .slide-page-5 .rightpage5 {
          margin-left: 10px;
          float: left; }
          #teacher .right-page-5 .content-page-5 .slide-page-5 .rightpage5.decoration.blue {
            width: 60px;
            border-radius: 20px; }

#blog {
  height: 100vh;
  background-color: #f9f9f9; }
  #blog .comment-1 {
    max-width: 70%;
    padding: 40px;
    margin-left: 20%;
    max-height: 40%;
    margin-top: 10%;
    border-radius: 30px;
    background-color: white;
    position: relative;
    transition: 800ms; }
    #blog .comment-1 .comment-top-1.decoration.pink {
      border-radius: 20px;
      width: 38px;
      position: absolute;
      top: 40px;
      left: -20px; }
    #blog .comment-1 .comment-top-1.decoration.blue {
      border-radius: 20px;
      width: 76px;
      position: absolute;
      top: 70px;
      left: -57px; }
  #blog .comment-1:hover {
    box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.15);
    cursor: pointer;
    transition: 1000ms; }
  #blog .comment-2 {
    max-width: 70%;
    margin-left: 10%;
    min-height: 20%;
    margin-top: 15%;
    margin-left: 20%;
    padding: 40px;
    border-radius: 30px;
    background-color: white;
    position: relative;
    transition: 800ms; }
    #blog .comment-2 .comment-top-2 {
      border-radius: 20px; }
      #blog .comment-2 .comment-top-2.decoration.yellow {
        border-radius: 20px;
        width: 36px;
        position: absolute;
        top: 45px;
        left: -20px; }
      #blog .comment-2 .comment-top-2.decoration.red {
        border-radius: 20px;
        width: 72px;
        position: absolute;
        top: 68px;
        left: -54px; }
  #blog .comment-2:hover {
    box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
    cursor: pointer;
    transition: 1000ms; }
  #blog .comment-3 {
    max-width: 70%;
    margin-left: 20%;
    padding: 40px;
    max-height: 35%;
    margin-top: 15%;
    margin-left: 10%;
    border-radius: 30px;
    background-color: white;
    position: relative;
    transition: 800ms; }
    #blog .comment-3 .comment-top-3 {
      border-radius: 20px; }
      #blog .comment-3 .comment-top-3.decoration.yellow {
        width: 36px;
        position: absolute;
        top: 45px;
        left: -18px; }
      #blog .comment-3 .comment-top-3.decoration.bluey {
        width: 72px;
        position: absolute;
        top: 68px;
        left: -55px; }
  #blog .comment-3:hover {
    box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
    cursor: pointer;
    transition: 1000ms; }
  #blog .comment-4 {
    max-width: 70%;
    margin-left: 10%;
    padding: 40px;
    min-height: 20%;
    margin-top: 20%;
    border-radius: 30px;
    background-color: white;
    position: relative;
    transition: 800ms; }
    #blog .comment-4 .comment-top-4 {
      border-radius: 20px; }
      #blog .comment-4 .comment-top-4.decoration.green {
        width: 34px;
        position: absolute;
        top: 44px;
        left: -17px; }
      #blog .comment-4 .comment-top-4.decoration.pink {
        width: 68px;
        position: absolute;
        top: 67px;
        left: -51px; }
  #blog .comment-4:hover {
    box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
    cursor: pointer;
    transition: 1000ms; }
  #blog .name {
    margin-top: 28px;
    font-size: 16px;
    font-style: italic;
    text-transform: uppercase;
    text-align: left;
    color: #000000;
    float: right;
    margin-right: 170px; }
  #blog .point {
    font-style: italic;
    text-align: left;
    font-size: 14px;
    color: #000000;
    float: right;
    margin-right: 170px; }
  #blog img {
    width: 110px;
    height: 110px;
    box-shadow: 30px 30px 50px 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 40px;
    bottom: -55px;
    border-radius: 100px; }

#contact {
  height: 100vh; }
  #contact .left-page-7 {
    padding: 13% 0; }
    #contact .left-page-7 h2 {
      font-family: VNFQuicksand-Bold;
      font-size: 36px;
      text-align: left;
      color: #00bcd4; }
    #contact .left-page-7 form {
      margin-left: -50px; }
      #contact .left-page-7 form span {
        position: absolute;
        margin-top: 38px;
        left: 20px;
        height: 16px;
        font-size: 16px;
        letter-spacing: 0.3px;
        text-align: justify;
        color: #00bcd4; }
      #contact .left-page-7 form span:nth-of-child(5) {
        margin-top: 45px; }
    #contact .left-page-7 input {
      outline: none;
      width: 450px;
      height: 50px;
      margin-left: 50px;
      margin-top: 20px;
      padding-left: 45px;
      border-radius: 100px;
      background-color: #ffffff;
      border: 1px solid #00bcd4;
      font-family: Lato;
      font-size: 16px; }
    #contact .left-page-7 textarea {
      outline: none;
      width: 450px;
      margin-left: 50px;
      margin-top: 20px;
      padding-left: 45px;
      padding-top: 13px;
      border-radius: 25px;
      background-color: #ffffff;
      border: 1px solid #00bcd4;
      font-family: Lato;
      font-size: 16px; }
    #contact .left-page-7 input:focus {
      box-shadow: 0 0 5px 0 #673ab7;
      border: solid 1px  #673ab7; }
    #contact .left-page-7 textarea:focus {
      box-shadow: 0 0 5px 0 #673ab7;
      border: 1px solid #673ab7; }
    #contact .left-page-7 .register-test.page7 {
      width: 160px;
      float: right;
      margin-top: 30px;
      margin-right: 20px; }

#footer {
  height: 100vh;
  background-color: #00bcd4;
  color: white;
  position: relative;
  z-index: 100; }
  #footer .white-logo {
    height: 30%;
    width: 100%;
    text-align: center; }
    #footer .white-logo img {
      margin-top: 6%; }
  #footer .content-footer .nav-col {
    float: left;
    padding: 0 3%; }
    #footer .content-footer .nav-col h3 {
      font-size: 16px;
      font-weight: 900;
      letter-spacing: 0.3px;
      margin-bottom: 24px;
      text-align: left;
      color: white;
      text-transform: uppercase; }
    #footer .content-footer .nav-col ul li {
      list-style-type: none;
      margin-top: 20px;
      font-size: 16px;
      text-align: left;
      font-weight: normal; }
      #footer .content-footer .nav-col ul li a {
        color: white; }
  #footer .privacy-terms-setting {
    margin-left: 21px;
    margin-top: 50px;
    color: white;
    font-weight: normal; }
    #footer .privacy-terms-setting a {
      margin-right: 38px;
      color: white; }
  #footer .socials {
    margin-top: 133px;
    margin-left: 21px;
    font-size: 100%;
    letter-spacing: 0.4px;
    text-align: left;
    font-weight: normal;
    font-size: 24px;
    font-weight: normal; }
    #footer .socials span {
      margin-right: 46px;
      color: white; }
  #footer .copyright {
    margin-left: 21px;
    margin-top: 60px;
    font-weight: normal; }

/*# sourceMappingURL=style.css.map */
